<section class="wrapper hotels_wrapper dataTables_wrapper no-footer search-filter">
  <form class="filter-form" action="#">
    <label class="label">
      <input class="input input__filter" type="text" id="searchInput" placeholder="Search items" />
    </label>
    <div class="filter-wrapper">
      <img class="filter-image" src="./images/filter.svg" alt="filter" />
      <button type="button" class="input filter">Filters</button>
    </div>
    <div class="select-wrapper">
      <button class="btn btn__in" type="button">Check In</button>
      <button class="btn btn__out" type="button">Check Out</button>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Guests
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Colin Nelson</a>
          <a class="dropdown-item" href="#">Gresham Carr</a>
          <a class="dropdown-item" href="#">Virgil Grant</a>
          <a class="dropdown-item" href="#">Gilbert Hopkins</a>
          <a class="dropdown-item" href="#">Sarah Lamb</a>
          <a class="dropdown-item" href="#">Dennis Dinwiddie</a>
          <a class="dropdown-item" href="#">Mia Pope</a>
          <a class="dropdown-item" href="#">Jessica Bird</a>
        </div>
      </div>
    </div>
  </form>
</section>
