<table id="memListTable" class="row-border" data-page-length="20">
  <thead>
    <tr class="head-section">
      <th>
        <label class="checkbox-text box-container" for="first">
          <input class="checkbox" type="checkbox" id="first" name="first" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th class="head head__first" scope="col">Name</th>
      <th class="head" scope="col">Supplier</th>
      <th class="head" scope="col">Location</th>
      <th class="head" scope="col">Vibe</th>
      <th class="head" scope="col">Perks</th>
      <th class="head" scope="col">From</th>
      <th class="head" scope="col">Amenities</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="th-wrapper">
        <label class="checkbox-text box-container" for="1">
          <input class="checkbox" type="checkbox" id="1" name="1" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th class="th-wrapper" scope="row">
        <a href="#">Grand Hotel du Palais Royal</a>
      </th>
      <td class="td-wrapper">Fairmont</td>
      <td class="td-wrapper">Paris, France</td>
      <td class="td-wrapper">Sophisticated</td>
      <td class="td-wrapper">
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td class="td-wrapper">US$ 10.5k</td>
      <td class="td-wrapper">
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="2">
          <input class="checkbox" type="checkbox" id="2" name="2" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">Rosewood Little Dix Bay</a>
      </th>
      <td>Rosewood</td>
      <td>Virgin Gorda, BVI</td>
      <td>Comfortable Beach</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 12.3k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="3">
          <input class="checkbox" type="checkbox" id="3" name="3" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">Vila Planinka</a>
      </th>
      <td>Fairmont</td>
      <td>Paris, France</td>
      <td>Urban Chic</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 9.5k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="4">
          <input class="checkbox" type="checkbox" id="4" name="4" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">Fairmont Olympic Hotel</a>
      </th>
      <td>Fairmont</td>
      <td>Paris, France</td>
      <td>Business</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Fairmont Plus</span>
        </div>
      </td>
      <td>US$ 8.8k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="5">
          <input class="checkbox" type="checkbox" id="5" name="5" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">Palmaia - House of AiA</a>
      </th>
      <td>Palmaia</td>
      <td>Paris, France</td>
      <td>Party Scene</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 8.5k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="6">
          <input class="checkbox" type="checkbox" id="6" name="6" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">InterContinental Amstel</a>
      </th>
      <td>InterContinental</td>
      <td>Amsterdam, Neth...</td>
      <td>Boutique</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 7.2k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="7">
          <input class="checkbox" type="checkbox" id="7" name="7" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">Aman Tokyo</a>
      </th>
      <td>Aman</td>
      <td>Paris, France</td>
      <td>Quiet Comfort</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 11.8k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="8">
          <input class="checkbox" type="checkbox" id="8" name="8" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">Oasy Hotel</a>
      </th>
      <td>IHG</td>
      <td>London, UK</td>
      <td>Urban Living</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 7.4k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="9">
          <input class="checkbox" type="checkbox" id="9" name="9" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">Como Uma Punakha</a>
      </th>
      <td>IHG</td>
      <td>Mumbai, India</td>
      <td>Hip/Trendy</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 6.3k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="10">
          <input class="checkbox" type="checkbox" id="10" name="10" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">Central Private Hotel</a>
      </th>
      <td>InterContinental</td>
      <td>Rotterdam, Nethe...</td>
      <td>Busy Urban</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 6.5k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="11">
          <input class="checkbox" type="checkbox" id="11" name="11" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">Capella Bangkok</a>
      </th>
      <td>InterContinental</td>
      <td>Bangkok, Thailan...</td>
      <td>Party Scene</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 4.7k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="12">
          <input class="checkbox" type="checkbox" id="12" name="12" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">The Londoner</a>
      </th>
      <td>Fairmont</td>
      <td>Bangkok, Thailan...</td>
      <td>Busy Urban</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 4.8k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="13">
          <input class="checkbox" type="checkbox" id="13" name="13" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">St. Regis Hong Kong</a>
      </th>
      <td>Marriott</td>
      <td>Hong Kong</td>
      <td>Party Scene</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 4.1k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="14">
          <input class="checkbox" type="checkbox" id="14" name="14" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">Ritz-Carlton, Turks & Caicos</a>
      </th>
      <td>Ritz-Carlton</td>
      <td>Turks & Caicos</td>
      <td>Party Scene</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Multiple</span>
        </div>
      </td>
      <td>US$ 9.3k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="15">
          <input class="checkbox" type="checkbox" id="15" name="15" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">Ritz-Carlton, Aruba</a>
      </th>
      <td>Ritz-Carlton</td>
      <td>Aruba</td>
      <td>Party Beach</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Multiple</span>
        </div>
      </td>
      <td>US$ 8.5k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="16">
          <input class="checkbox" type="checkbox" id="16" name="16" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">The Bedford</a>
      </th>
      <td>IHG</td>
      <td>Coppenhagen</td>
      <td>Quiet Luxury</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 5.1k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <label class="checkbox-text box-container" for="17">
          <input class="checkbox" type="checkbox" id="17" name="17" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th scope="th-wrapper">
        <a href="#">Fairmont London</a>
      </th>
      <td>Fairmont</td>
      <td>London, UK</td>
      <td>Busy Urban</td>
      <td>
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td>US$ 6.5k</td>
      <td>
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th class="th-wrapper">
        <label class="checkbox-text box-container" for="18">
          <input class="checkbox" type="checkbox" id="18" name="18" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th class="th-wrapper" scope="row">
        <a href="#">Grand Hotel du Palais Royal</a>
      </th>
      <td class="th-wrapper">Fairmont</td>
      <td class="th-wrapper">Paris, France</td>
      <td class="th-wrapper">Sophisticated</td>
      <td class="th-wrapper">
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td class="th-wrapper">US$ 10.5k</td>
      <td class="th-wrapper">
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th class="th-wrapper">
        <label class="checkbox-text box-container" for="19">
          <input class="checkbox" type="checkbox" id="19" name="19" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th class="th-wrapper" scope="row">
        <a href="#">Grand Hotel du Palais Royal</a>
      </th>
      <td class="th-wrapper">Fairmont</td>
      <td class="th-wrapper">Paris, France</td>
      <td class="th-wrapper">Sophisticated</td>
      <td class="th-wrapper">
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td class="th-wrapper">US$ 10.5k</td>
      <td class="th-wrapper">
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th class="th-wrapper">
        <label class="checkbox-text box-container" for="20">
          <input class="checkbox" type="checkbox" id="20" name="20" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th class="th-wrapper" scope="row">
        <a href="#">Grand Hotel du Palais Royal</a>
      </th>
      <td class="th-wrapper">Fairmont</td>
      <td class="th-wrapper">Paris, France</td>
      <td class="th-wrapper">Sophisticated</td>
      <td class="th-wrapper">
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td class="th-wrapper">US$ 10.5k</td>
      <td class="th-wrapper">
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th class="th-wrapper">
        <label class="checkbox-text box-container" for="21">
          <input class="checkbox" type="checkbox" id="21" name="21" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th class="th-wrapper" scope="row">
        <a href="#">Grand Hotel du Palais Royal</a>
      </th>
      <td class="th-wrapper">Fairmont</td>
      <td class="th-wrapper">Paris, France</td>
      <td class="th-wrapper">Sophisticated</td>
      <td class="th-wrapper">
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td class="th-wrapper">US$ 10.5k</td>
      <td class="th-wrapper">
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th class="th-wrapper">
        <label class="checkbox-text box-container" for="22">
          <input class="checkbox" type="checkbox" id="22" name="22" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th class="th-wrapper" scope="row">
        <a href="#">Grand Hotel du Palais Royal</a>
      </th>
      <td class="th-wrapper">Fairmont</td>
      <td class="th-wrapper">Paris, France</td>
      <td class="th-wrapper">Sophisticated</td>
      <td class="th-wrapper">
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td class="th-wrapper">US$ 10.5k</td>
      <td class="th-wrapper">
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
    <tr>
      <th class="th-wrapper">
        <label class="checkbox-text box-container" for="23">
          <input class="checkbox" type="checkbox" id="23" name="23" />
          <span class="checkbox-custom"></span>
        </label>
      </th>
      <th class="th-wrapper" scope="row">
        <a href="#">Grand Hotel du Palais Royal</a>
      </th>
      <td class="th-wrapper">Fairmont</td>
      <td class="th-wrapper">Paris, France</td>
      <td class="th-wrapper">Sophisticated</td>
      <td class="th-wrapper">
        <div class="perk-wr">
          <span class="dot"></span>
          <span class="perk">Virtuoso</span>
        </div>
      </td>
      <td class="th-wrapper">US$ 10.5k</td>
      <td class="th-wrapper">
        <div>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-curl"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-swim"></use>
          </svg>
          <svg class="icon icon__star">
            <use href="./images/icons.svg#icon-pizza"></use>
          </svg>
        </div>
      </td>
    </tr>
  </tbody>
</table>
